<!DOCTYPE html>
<html>

<head>
	<title>Kết quả</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styling.css') }}">

</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<img style="height: 35px; width: 35px; margin-right: 10px; border-radius: 50%;"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpT1JcQaAiEinEnObhdsuGqXGeykvIujY12Axaz0EXuhlHcUXvDu9i5TeWR4kbASfBT_Y&usqp=CAU"
			alt="">
		<a class='navbar-brand' href="/">Khai phá dữ liệu ĐPT</a>
	</nav>
	<div class='bg-image'></div>
	<div class='bg-text'>
		<div class='container'>
			{% if filename =='' %}

			<p>FILE NOT FOUND</p>

			{% else %}

			{% if status == 1 %}

			<p>
			<h2>{{ filename }} is not supported... </h2>
			</p>

			{% else %}

			<p>Upload ảnh thành công !</p>
			<p>Tên ảnh : {{filename}}</p>
			<br>
			<p>Ảnh upload là : </p>
			<img src="{{ url_for('send_image', filename = filename) }}">
			<br>
			<br>
			<p>Biển báo dự đoán : {{ signname }}</p>

			{% endif %}

			{% endif %}
		</div>
		<br>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>